.menu {
  background: #17a2b8;
  height: 50px;
  padding: 0 150px;

}
ul {
  text-decoration: none;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
ul li {
  font-size: 15px;
  text-decoration: none;
  /* float: left; */
  padding: 15px;
  color: #fff;
  height: 50px;
  cursor: pointer;
}

ul li:hover {
  background-color: #2175bc;
}
